pandas
emoji
contractions
beautifulsoup4
nltk
transformers
sentence-transformers 
datasets 
scikit-learn 
torch 
seaborn
langchain
langchain-core
langchain-community
langchain-astradb
langchain-groq
python-dotenv
pymongo
flask
streamlit
pyspark
findspark
kafka-python
plotly
wordcloud